# Sistem OS
.DS_Store
Thumbs.db

# File environment / config sensitif
.env

# Composer
vendor/
composer.lock

# Log
*.log
logs/
storage/logs/

# Cache / temp
cache/
tmp/
*.cache

# IDE / Editor
.idea/
.vscode/
*.swp

# Backup file
*.bak
*.old
*.tmp

# Session file (kalau kamu simpan session sendiri)
session/
sessions/
